@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.navbar-nav li a {
  font-size: 0.9rem;
}
.nav-link:hover {
  color: white !important;
}
.para-presentation {
  font-weight: bold;
}
.btn-available {
  font-family: arial;
}
.text-presentation {
  padding: 0 15%;
  font-family: serif;
}
.jenny {
  position: relative;
  z-index: 2;
}
.jenny:before {
  content: "";
  position: absolute;
  height: 50%;
  width: 97%;
  bottom: 0;
  left: 0;
  background-color: #27a776;

  z-index: -1;
}
.photo-accueil img {
  opacity: 1;
}
.photo-accueil:hover img {
  transform: scale(1.2);
  transition: 1s;
  opacity: 0.6;
}
.name-site {
  list-style: none;
  text-decoration: none;
}
.icon-img {
  position: absolute;
  top: 0;
  z-index: 2;
}
.photo-accueil:hover .icon-img {
  display: flex !important;
}

.icon-img i:hover {
  color: white !important;
  cursor: pointer;
}
@media (max-width: 288px) {
  .jenny {
    display: block;
  }
}
@media (max-width: 550px) {
  .icone-nav {
    display: none;
  }
}
@media (max-width: 898px) {
  .text-presentation {
    width: 100%;
    padding: 0;
  }
}
